@charset "EUC-JP";

/* ---------- reset ---------- */

*
{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font-family: Verdana, Arial, sans-serif;
}

/* ---------- reset_end ---------- */

/* ---------- body ---------- */

body
{
	color:#666666;
	background-color:#7F0000;
	text-align:center;
}

a
{
	text-decoration:none;
	color:#7F0000;
	background:inherit;
}

a:hover
{
	text-decoration:underline;
}

body.layout-two-column-right div#main-container,
body.layout-two-column-left div#main-container,
body.layout-one-column div#main-container
{
	width:700px;
	margin:0 auto;
	padding:15px 0 0 0;
	text-align:left;
	background-color:#ffffff;
	color:inherit;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
}

body.layout-three-column div#main-container
{
	width:800px;
	margin:0 auto;
	padding:0 0 0 0;
	text-align:left;
	background-color:#ffffff;
	color:inherit;
	border-left:1px solid #999999;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
}

/* ---------- body_end ---------- */

/* ---------- banner ---------- */

body.layout-two-column-right div#banner,
body.layout-two-column-left div#banner,
body.layout-one-column div#banner,
body.layout-three-column div#banner
{
	height:100px;
	margin:0 15px 15px 15px;
	background-color:#666666;
	background:url(http://www.noritsuna.jp/images/head_logo.gif) right top no-repeat;
}


div#banner h1
{
	text-align:left;
	font-size:22px;
	font-weight:bold;
	position: relative;
	letter-spacing:0.2em;
	top: 35px;
	left: 15px;
}

div#banner h1 a
{
	color:#ffffff;
	background-color:transparent;
	text-decoration:none;
}

div#banner h1 a:hover
{
	text-decoration:underline;
}

div#banner h2
{
	color:#ffffff;
	text-align:left;
	font-size:10px;
	font-weight:normal;
	position: relative;
	top: 40px;
	left: 15px;
	background-color:transparent;
}

/* ---------- main ---------- */

body.layout-one-column #main
{
	width:700px;
	float:left;
}

body.layout-two-column-right #main
{
	width:500px;
	float:left;
}

body.layout-two-column-left #main
{
	width:500px;
	float:right;
}

body.layout-three-column #main
{
	width:400px;
	float:left;
}

div.content
{
	padding:0 15px 15px 15px;
}

div.entry
{
	margin:0 0 20px 0;
}

p.date-header
{
	color:#666666;
	font-size:70%;
	font-weight:normal;
	padding:5px 0 5px 0;
	background-color:inherit;
}

h3.entry-header
{
	font-size:80%;
	font-weight:bold;
	background-color:#7F0000;
	padding:5px;
	color:#ffffff;
	margin-bottom:10px;
}

h3.entry-header a
{
	color:#ffffff;background-color:inherit;
}

div.entry-content
{
	padding:10px;
}

div.content blockquote
{
	padding:10px;
	border:1px dashed #999999;
	background-color:#ffffff;
	margin:0 0 15px 0;
}

div.content blockquote p
{
	color:#669966;
	font-size:80%;
}

div.entry-body p,
div.entry-more p
{
	color:#666666;
	font-size:80%;
	line-height:140%;
	margin:0 0 10px 0;
	background-color:inherit;
}

div.entry-body img,
div.entry-more img
{
	border:0;
	margin:0 0 20px 0;
}

div.entry-body ul,
div.entry-more ul
{
	list-style-position:inside;
}

div.entry-body li,
div.entry-more li
{
	color:#666666;
	font-size:80%;
	margin:0 5px 0 0;
	list-style-type: square;
	background-color:inherit;
}

div.content div.entry-tags h4
{
	color:#666666;
	font-size:80%;
	padding:0 0 5px 0;
	margin:0 0 5px 0;
	background-color:transparent;
	border-bottom:1px dotted #999999;
}

div.entry-tags ul.entry-tags-list
{
	list-style:none;
	border-bottom:1px dotted #999999;
	padding:0 0 5px 0;
	margin:0 0 10px 0;
}

div.entry-tags ul.entry-tags-list li
{
	display:inline;
	margin:0 10px 0 0;
	font-size:80%;
}

div.entry-info
{
	padding-bottom:10px;
	text-align:right;
}

div.entry-info ul
{
	list-style-type: none;
}

div.entry-info li
{
	color:#666666;
	font-size:60%;
	display:inline;
	margin-right: 5px;
	background-color:inherit;
}

div.content h4
{
	background-color:#666666;
	color:#ffffff;
	font-weight:normal;
	font-size:70%;
	padding:2px;
	margin-bottom:10px;
}

div.content h5
{
	color:#666666;
	font-weight:bold;
	font-size:70%;
	border-bottom:1px dotted #cccccc;
	padding:2px;
	margin-bottom:10px;
}

div.content p.navi-link
{
	color:#666666;
	font-size:80%;
	margin-bottom:15px;
	background-color:inherit;
}

/* ---------- main_end ---------- */

/* ---------- menu ---------- */

body.layout-one-column div#left-menu,
body.layout-one-column div#right-menu
{
	display:none;
}

body.layout-two-column-right div#left-menu,
body.layout-two-column-right div#right-menu
{
	width:198px;
	float:right;
}

body.layout-two-column-left div#left-menu,
body.layout-two-column-left div#right-menu
{
	width:198px;
	float:left;
}

body.layout-three-column div#left-menu,
body.layout-three-column div#right-menu
{
	width:198px;
	float:left;
}

body.layout-two-column-right div.left-content,
body.layout-two-column-right div.right-content
{
	padding:0 15px 0 0;
}

body.layout-two-column-left div.left-content,
body.layout-two-column-left div.right-content
{
	padding:0 0 0 15px;
}

body.layout-three-column div.right-content
{
	padding:0 15px 0 0;
}

body.layout-three-column div.left-content
{
	padding:0 0 0 15px;
}

div.left-content h3,
div.right-content h3
{
	background-color:#7F0000;
	color:#ffffff;
	font-weight:normal;
	font-size:70%;
	padding:2px;
	margin-bottom:10px;
}

div.left-content h3 a,
div.right-content h3 a
{
	color:#ffffff;
}

div#left-menu li,
div#right-menu li
{
	list-style-position:inside;
	color:#666666;
	font-size:80%;
	background-color:inherit;
}

div.search-form,
div.category-archives,
div.monthly-archives,
div.recent-entry,
div.site-link,
div.cclicense,
div.powered,
div.search-feed
{
	margin-bottom: 10px;
	padding:5px;
	background:#FFF6DE;
	border:1px solid #A69583;
}

div.search-form label,
div.cclicense {
	background-color:inherit;
	color:#666666;
	font-size:80%;
	margin:0 0 5px 0;
}

div.search-form input#search {
	width:80%;
	color:#666666;
	font-size:80%;
	border: 1px solid #666666;
	padding:2px;
	background-color:#eeeeee;
}

div.search-form input.searchsubmit {
	color:#666666;
	font-size:80%;
	border: 1px solid #666666;
	background-color:#ffffff;
	margin-top:5px;
}

/* ---------- menu_end ---------- */

/* ---------- footer ---------- */

body.layout-two-column-left div#footer,
body.layout-two-column-right div#footer,
body.layout-one-column div#footer,
body.layout-three-column div#footer
{
	clear:both;
}

div#footer
{
	text-align:center;
	padding-bottom:30px;
}

div#footer ul
{
	list-style:none;
}

div#footer ul li
{
	display:inline;
	font-size:60%;
	color:#999999;
	margin-right:15px;
	background-color:inherit;
}

/* ---------- footer_end ---------- */

/* ---------- trackback ---------- */

div.trackbacks p,
div.trackbacks dt
{
	color:#666666;
	font-size:80%;
	background-color:inherit;
}

div.trackbacks dl
{
	margin:0 0 15px 0;
}

div.trackbacks p
{
	margin:5px 0 10px 0;
}

div.trackbacks input
{
	color:#999999;
	border: 1px solid #999999;
	padding:2px;
	background-color:#ffffff;
}

ul.trackback-info
{
	border-top: 1px solid #999999;
	padding:5px 0;
}

ul.trackback-info li
{
	color:#666666;
	font-size:60%;
	display:inline;
	margin-right: 5px;
	list-style-type: none;
	background-color:inherit;
}

/* ---------- trackback_end ---------- */

/* ---------- comment ---------- */

div.comments,
div#comments-open-data label
{
	margin-bottom: 10px;
}

div.comments-body
{
	padding:5px;
}

div.comments-body p,
div.comments-info li,
div#comments-open-data legend,
div#comments-open-data label
{
	color:#666666;
	background-color:inherit;
	font-size:80%;
}

p.comments-open-moderated
{
	color:#666666;
	background-color:inherit;
	font-size:80%;
}

div.comments-body p,
div.comments-post-content p
{
	margin:5px 0 10px 0;
}

ul.comments-info
{
	border-top: 1px solid #999999;
	padding:5px 0;
	margin:0 0 15px 0;
}

ul.comments-info li
{
	display:inline;
	margin-right:5px;
	list-style-type:none;
	color:#666666;
	background-color:inherit;
	font-size:60%;
}

div#comments-open-data legend
{
	color:#666666;
	background-color:inherit;
	margin-bottom:10px;
}

div#comments-open-data input#comment-author,
div#comments-open-data input#comment-email,
div#comments-open-data input#comment-url
{
	width:40%;
	color:#666666;
	font-size:80%;
	border: 1px solid #999999;
	padding:2px;
	background-color:#eeeeee;
	margin:5px 0 10px 0;
}

div#comments-open-data textarea
{
	width:60%;
	color:#666666;
	font-size:80%;
	border: 1px solid #999999;
	padding:2px;
	background-color:#eeeeee;
	margin:5px 0 10px 0;
}

ul.comments-open-footer input
{
	color:#999999;
	font-size:80%;
	border: 1px solid #999999;
	background-color:#ffffff;
	margin-top:5px;
}

ul.comments-open-footer li
{
	display:inline;
	margin-right:15px;
	list-style-type:none;
}

ul.cookie li
{
	display:inline;
	list-style-type:none;
}

/* ---------- comment_end ---------- */

/* ---------- search ----------*/

div.content h3.search-results-header
{
	font-size:80%;
	font-weight:bold;
	background-color:#7F0000;
	padding:5px;
	color:#ffffff;
	margin-bottom:10px;
}

div.search-feed p
{
	color:#666666;
	font-size:70%;
	line-height:140%;
}

div.search-feed-content
{
	border: 1px solid #cccccc;
	padding:10px;
}

p.feed-link
{
	margin:5px 0 0 0;
}

form#search-form label
{
	background-color:inherit;
	color:#666666;
	font-size:80%;
	margin:0 0 5px 0;
}

dd#search-box ul,dd#search-options ul
{
	list-style:none;
	padding:0 0 10px 0;
}

dd#search-box ul li,dd#search-options ul li
{
	display:inline;
	margin:0 15px 0 0;
}

dd#search-box input#search
{
	width:70%;
	color:#666666;
	font-size:80%;
	border: 1px solid #666666;
	padding:2px;
	background-color:#eeeeee;
}

dd#search-box input.searchsubmit {
	color:#666666;
	font-size:80%;
	border: 1px solid #666666;
	background-color:#ffffff;
	margin-top:5px;
}

h5.search-results-tit
{
	color:#666666;
	font-weight:bold;
	font-size:70%;
	border-bottom:1px dotted #cccccc;
	padding:2px;
	margin-bottom:10px;
}

p.search-results-content
{
	color:#666666;
	font-size:80%;
	line-height:140%;
	margin:0 0 10px 0;
	background-color:inherit;
}

/* ---------- search_end ----------*/

/* ---------- archives ----------*/

div.archive-body ul.archive-list li
{
	list-style-position:inside;
	color:#666666;
	font-size:80%;
	background-color:inherit;
}

/* ---------- archives_end ----------*/




